{{define "body"}}
<div class="container contents">
<form role="form" id="searchForm">
  <div class="form-group">
    <input type="text" class="form-control" id="search" placeholder="Search for movies, books, and albums">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<script type="text/javascript">
    var myForm = document.getElementById('searchForm');
    myForm.addEventListener('submit', submitForm, false);
    function submitForm(e) {
        query = document.getElementById("search").value;
        window.location.href = "/search/" + query;
        e.preventDefault();

        return false;
    }
</script>
{{end}}
