{{define "body"}}
  <div class="container contents">
    <div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Media Type</th>
        <th>Image</th>
        <th>Title</th>
        <th class="remove"></th>
      </tr>
    </thead>
    {{range $mediaType, $entries := .Entries}}
    {{range $i, $entry := $entries}}
    <tbody>
    <tr>
      <td>{{if eq $i 0}} {{$mediaType}} {{end}}</td>
      <td><img src="{{$entry.ImageURL.String}}" height="91" width="61"></img></td>
      <td><a href="{{$entry.Link}}">{{$entry.Title}}</a></td>
      <td>
        <form class="form-remove" method="POST" action="/remove" style="margin-bottom: 0">
          <input type="hidden" name="id" value="{{$entry.Id}}"/>
          <input type="submit" class="btn btn-danger" value="Remove" />
        </form>
      </td>
    </tr>
    {{end}}
    {{end}}
    </tbody>
    </table>
    </div>
  </div>
{{end}}
