{{define "body"}}
  <div class="container contents">
    <div>
    <h3>Imdb:</h3>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Poster</th>
          <th>Title</th>
          <th>Year</th>
          <th>Runtime</th>
          <th>Imdb Rating</th>
          <th>Audience Rating</th>
          <th class="save"></th>
        </tr>
      </thead>
      <tbody>
        {{range $movie := .Movies}}
        <tr>
          <td><img src="{{$movie.Poster}}" height="91" width="61"></img></td>
          <td>{{$movie.Title}}</td>
          <td>{{$movie.Year}}</td>
          <td>{{$movie.Runtime}}</td>
          <td>{{$movie.ImdbRating}}</td>
          <td>{{$movie.TomatoUserRating}}</td>          
          <td>
            <form class="form-save" method="POST" action="/save" style="margin-bottom: 0">
              <input type="hidden" name="title" value="{{$movie.Title}}"/>
              <input type="hidden" name="media_type" value="movie"/>
              <input type="submit" class="btn btn-primary btn-sm" value="Save" />
            </form>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
    </div>
    <div>
    <h3>Goodreads Results:</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Author</th>
          <th>Average Rating</th>
          <th class="save"></th>
        </tr>
      </thead>
      <tbody>
      {{range $work := .Books.Search.Works}}
        <tr>
          <td><img src="{{$work.BestBook.SmallImageURL}}"></img></td>
          <td><a href="https://www.goodreads.com/book/show/{{$work.BestBook.ID}}">{{$work.BestBook.Title}}</a></td>
          <td><a href="https://www.goodreads.com/author/show/{{$work.BestBook.Author.ID}}">{{$work.BestBook.Author.Name}}</a></td>
          <td>{{$work.AverageRating}}</td>
          <td>
            <form class="form-save" method="POST" action="/save" style="margin-bottom: 0">
              <input type="hidden" name="title" value="{{$work.BestBook.Title}}"/>
              <input type="hidden" name="link" value="https://www.goodreads.com/book/show/{{$work.BestBook.ID}}">
              <input type="hidden" name="media_type" value="book"/>
              <input type="hidden" name="image_url" value="{{$work.BestBook.SmallImageURL}}"/>
              <input type="submit" class="btn btn-primary btn-sm" value="Save" />
            </form>
          </td>
        </tr>
      {{end}}
      </tbody>
    </table>
    </div>
    <div>
    <h3>Spotify Results:</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Artists</th>
          <th class="save"></th>
        </tr>
      </thead>
      <tbody>
        {{range $album := .Albums}}
        <tr>
          <td>
            <img src="{{(index $album.Images 0).URL}}" height="64" width="64"></img></td>
          <td>
            <a href="{{$album.URI}}"></a>{{$album.Name}}</a></td>
          <td>
            {{range $artist := $album.Artists}}
            <a href="{{$artist.URI}}">{{$artist.Name}}</a>
            {{end}}
          </td>
          <td>
            <form class="form-save" method="POST" action="/save" style="margin-bottom: 0">
              <input type="hidden" name="title" value="{{$album.Name}}"/>
              <input type="hidden" name="media_type" value="album"/>
              <input type="submit" class="btn btn-primary btn-sm" value="Save" />
            </form>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
    </div>
  </div>
{{end}}
